#home{
    background: var(--blue);
    color: var(--white);
}
.home .grid{
    grid-template-columns: 6fr 6fr;
}
.home__context{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home__context h1{
    padding: 2rem 0;
    font-size: 3rem;
    color: var(--white);
}
.c-default{
    color: var(--green);
}
.home__img img{
    height: 115%;
    object-fit: cover;
}
.home__btns Button:nth-child(2){
    color: var(--white);
}
section{
    padding: 10rem 0;
}