/* style variables */
:root {

    /* color */
    --green: #2aaa94;
    --green-light: #2aaa9586;
    --white: #ffffff;
    --dark: #4e596b;
    --blue: #04016C;
    --linear-bg: linear-gradient(102deg, #083F9B 0%, #7F56D9 93.39%);
    --yellow:#FFC769;

    /* typography */
    --shadow: 0px 5px 20px 0px rgb(69 67 96 /10%);
    --font: 'Poppins',Arial;

}

/* default styles */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Arial;
}

*:hover {
    transition: all 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
}





/* FOR SCROLL THUMBNAIL */
::-webkit-scrollbar {
    width: 10px;
    /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* color of the scrollbar thumb */
    border-radius: 6px;
    /* roundness of the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* color of the scrollbar track */
}
