.filter__buttons Button {
    /* color:var(--dark); */
    margin-right: 10px;
    text-transform: none;
}
.filter__buttons Button:focus{
    color:white;
}
.contained{
    background-color: red;
}
.outlined{
    background-color: blue;
}